<template name="addProject">
  <div class="row">
    <form class="col s6 offset-s4">
      <h5>Add Project</h5>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea id="description" class="materialize-textarea"></textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <select id="cucumbers">
            <option value="" disabled selected>Cucumbers</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="10">10</option>
          </select>
          <label>Cucumbers</label>
        </div>
      </div>
    </form>
  </div>
  {{> addProjectActions}}
</template>
