<template name="projects">
  <div class="row">
    {{#each projects}}
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title"><a class="white-text selectProject" href="#">{{name}}</a></span>
            <p>{{description}}</p>
          </div>
          <div class="card-action">
            <a href="#">Anylitics</a>
            <a href='#'>Run</a>
            <a href='#'>Reports</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{> projectsActions}}
</template>
